.PersonalInfoItem {
  padding: 1vw;
  width: 40vw;
  margin: 0.5vw;
  color: white;
  display: flex;
  flex-direction: row;

  > div {
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1vw;
    width: 100%;

    &:hover {
      transform: scale(1.03);
      border: 1px solid white;
    }

    h3 {
      font-size: 2vw;
    }

    p {
      margin-top: 1vw;
      font-size: 1.5vw;
    }
  }
}
