.ProjectItem {
  background-color: rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  color: white;
  margin: 1vw;
  padding-top: 3vw;
  padding-bottom: 1vw;
  border-radius: 8px;
  border: 1px solid white;

  & + .ProjectItem {
    margin-left: 5vw;
  }

  h2 {
    text-align: center;
    font-size: 2.5vw;
  }

  .content {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
      display: flex;
      align-items: center;

      .leftArrow {
        cursor: pointer;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &.disabled {
          visibility: hidden;
        }
      }

      .rightArrow {
        cursor: pointer;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &.disabled {
          visibility: hidden;
        }
      }

      .imageContainer {
        position: relative;
        width: 40vw;
        height: 30vw;
        display: flex;
        border-radius: 8px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 1vw;
      }

      @keyframes arrow {
        from {
          transform: scaleX(1);
        }
        to {
          transform: scale(1.5);
        }
      }
    }

    .bottom {
      text-align: center;
      width: 40vw;
      font-size: 1.5vw;

      .info {
        padding-top: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .body {
          display: flex;
          flex-direction: row;

          & + .body {
            padding-top: 0.5vw;
          }

          .tag {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 12vw;

            h4 {
              text-transform: capitalize;
              padding-left: 0.5vw;
              font-size: 1vw;
            }
          }

          .str {
            width: 35vw;

            > p {
              text-align: start;
              font-size: 1vw;
            }
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}
