.ProjectItem {
  background-color: rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  color: white;
  margin: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid white;

  & + .ProjectItem {
    margin-left: 5vw;
  }

  h2 {
    text-align: center;
    font-size: 2.5vw;
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top {
      display: flex;
      align-items: center;

      .leftArrow {
        cursor: pointer;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &.disabled {
          visibility: hidden;
        }
      }

      .rightArrow {
        cursor: pointer;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &.disabled {
          visibility: hidden;
        }
      }

      .imageContainer {
        position: relative;
        width: 40vw;
        height: 30vw;
        display: flex;
        border-radius: 8px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 1vw;
      }

      @keyframes arrow {
        from {
          transform: scaleX(1);
        }
        to {
          transform: scale(1.5);
        }
      }
    }

    .bottom {
      text-align: center;
      width: 40vw;
      font-size: 1.5vw;

      .info {
        padding-top: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .body {
          display: flex;
          flex-direction: row;

          & + .body {
            padding-top: 0.5vw;
          }

          .tag {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 12rem;

            h4 {
              text-transform: capitalize;
              padding-left: 0.5vw;
              font-size: 1rem;
            }
          }

          .str {
            width: 35vw;

            > p {
              text-align: start;
              font-size: 1rem;
            }
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin: auto;

    & + .ProjectItem {
      margin: auto;
      margin-top: 1rem;
    }

    h2 {
      font-size: 3.5vw;
    }

    .content {
      .top {
        .imageContainer {
          width: 75vw;
          height: 60vw;
        }
      }

      .bottom {
        width: 75vw;

        .info {
          .body {
            .tag {
              width: 20vw;

              h4 {
                padding-left: 1vw;
                font-size: 2vw;
              }
            }

            .str {
              width: 70vw;

              > p {
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 4.5vw;
    }

    .content {
      .bottom {
        .info {
          .body {
            .tag {
              width: 40vw;

              h4 {
                font-size: 3vw;
              }
            }

            .str {
              > p {
                font-size: 3vw;
              }
            }
          }
        }
      }
    }
  }
}
