.ProjectItem {
  background-color: rgba(0, 0, 0, 0.4);
  width: 80vw;
  height: 80vw;
  color: white;
  margin: 1vw;
  border-radius: 8px;

  h2 {
    padding-top: 2vw;
    text-align: center;
    font-size: 3.5vw;
  }

  .content {
    padding: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
